///

#cause{

    position: relative;
    display: inline-block;

    a,p,div{
        margin: 0;
        padding: 0;
    }

    @media screen and (max-width: 1150px){ 
        width: 100%;
        float: none;
    }

    #cause-div-img{

        float: left;
        position: relative;
        width: 260px;
        height: 230px;
        padding: 10px;

        @media screen and (max-width: 700px){ 
            width: 100%;
            float: none;
            text-align: center;
        }

        a{
            img{
                width: 100%;
                height: 100%;
                box-shadow: 1px 1px 8px #555;

                &:hover{
                    box-shadow: 1px 1px 16px #555;
                }

                @media screen and (max-width: 900px){ 
                    width: 230px;
                    height: 200px;
                    text-align: center;
                    align-content: center;
                }
            }
        }

    }
    
    #cause-div-description{

        display: inline-block;
        width: calc(100% - 260px - 12px);
        margin-left: 10px;

        @media screen and (max-width: 700px){ 
            width: 100%;
        }

        .cause-title{
            text-align: center;
        }

        .cause-description{
            min-height: 150px;
            max-height: 150px;
            text-align: justify;
            overflow-y: hidden;
            @media screen and (max-width: 700px){ 
                height: fit-content;
            }
        }

        .cause-status{
            height: 20px;
        }

    }

    #cause-button{
        padding-top: 10px;
        text-align: center;
        a{
            padding: 10px;
        }
    }

}
