<div *ngFor="let cause of causes">
  <div class="titre">
    <b>{{ cause.title }}</b>
  </div>
  <hr />

  <div class="column is-half" id="cause">
    <div id="cause-div-img">
      <a target="_blank" href="assets/img/causeImg/{{ cause.image }}">
        <img
          src="assets/img/causeImg/{{ cause.image }}"
          alt="Image non charger"
          id="action-img"
        />
      </a>
    </div>
    <div id="cause-div-description">
      <div class="cause-description">
        {{ cause.description }}
      </div>
      <div class="cause-status">
        {{ cause.status }}
      </div>
      <p is="action-date">{{ cause.dateCreation }}</p>
    </div>
    <div>
      <p id="cause-button">
        <a
          href="home?id={{ cause.id }}"
          class="button is-success is-rounded"
          style="font-size: 20px;"
        >
          Détails
        </a>
      </p>
    </div>
  </div>
</div>
